@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.Toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9933399;
  width: 350px;
}

.Toastify__toast {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #fff;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}

.Toastify__toast--info {
  background-color: #17a2b8;
}

.Toastify__toast--warning {
  background-color: #ffc107;
}

.Toastify__close-button {
  color: #fff;
  opacity: 0.7;
}

.Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__progress-bar {
  background: #ffffff66;
}

.autocompelte-box {
  position: absolute;
  width: 100%;
  background-color: #525252;
  color: black;
  border-radius: 5px;
  padding: 5px 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px;
  flex-direction: column;
}

.autocompelte-result {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  border-bottom: 1px solid darkgray;
}
